<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="../../static/vendors/fontsawesome/css/all.min.css">

    <link rel="stylesheet" href="../../static/vendors/bootstrap/bootstrap.min.css">

    <link rel="stylesheet" href="../../static/css/style.css">


    <!-- importing all the javascript -->
    <script src="../../static/vendors/bootstrap/bootstrap.bundle.min.js" defer></script>

    <script src="../../static/vendors/Gsap/gsap.min.js" defer></script>
    <script src="../../static/vendors/Gsap/ScrollToPlugin.min.js" defer></script>
    <script src="../../static/vendors/Gsap/ScrollTrigger.min.js" defer></script>

    <script src="../../static/js/app.js" defer></script>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-3">
        <div class="container">
            <a class="navbar-brand text-uppercase fw-bold text-brand" href="#">Pizza</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="products.html">Menu</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <section class="products mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <form method="GET" class="d-flex">
                        <input type="text" placeholder="Search pizza here..." id="search" class="form-control">
                        <button class="button button-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                    <h3 class="mt-3">Filter:</h3>
                    <form>
                        <div class="form-check">
                            <input checked class="form-check-input" type="radio" name="all" id="all">
                            <label class="form-check-label" for="all">
                                All
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="veg" id="veg">
                            <label class="form-check-label" for="veg">
                                Veg
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="non-veg" id="non-veg">
                            <label class="form-check-label" for="non-veg">
                                Non Veg
                            </label>
                        </div>
                    </form>
                </div>
                <div class="col-md-8 mt-5 mt-md-0">
                    <div class="d-flex flex-wrap justify-content-center">

                        <div class="card border-0 shadow rounded m-2" style="width: 22rem;">
                            <div class="card-img-container">
                                <div class="pizza-type veg"></div>
                                <img src="https://images.pexels.com/photos/2437286/pexels-photo-2437286.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=150"
                                    class="card-img-top" alt="pizza">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Panner Pizza</h5>
                                <h6 class="text-muted mb-3">
                                    $5.00
                                </h6>
                                <form>
                                    <div class="mb-3">
                                        <label for="pizza-size">Pizza Size:</label>
                                        <select class="form-select form-select-sm" aria-label="Pizza Size"
                                            id="pizza-size">
                                            <option value="small">Small</option>
                                            <option value="medium" selected>Medium</option>
                                            <option value="large">Large</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="cheese-option">Cheese Option:</label>
                                        <select class="form-select form-select-sm" aria-label="Cheese Option"
                                            id="cheese-option">
                                            <option value="little">Little extra</option>
                                            <option value="more" selected>More extra</option>
                                            <option value="american">American</option>
                                        </select>
                                    </div>
                                    <button class="btn btn-outline-primary d-flex ms-auto">Add To Cart</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Pizza</h2>
                    <p>Made By <a href="https://github.com/Dakshesh14" class="fancy-link">Dakshesh Jain</a></p>
                </div>
            </div>
        </div>
    </footer>


</body>

</html>