{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>E-commerce</title>
    <link rel="icon" href="img/Fevicon.png" type="image/png">

    <!-- linking css -->

    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'vendors/bootstrap/bootstrap.min.css' %}">

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <!-- linking js -->

    <!-- bootstrap -->
    <script src="{% static 'vendors/bootstrap/bootstrap.bundle.min.js' %}" defer></script>

    <!-- custom made -->
    <script src="{% static 'js/app.js' %}" defer></script>

</head>

<body>

    {% include 'layouts/navbar.html' %}

    {% block body %}{% endblock body %}

    {% include 'layouts/footer.html' %}


</body>

</html>