// making some repeating css class
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// overwriting some defaults
.card {
    // width: 20rem;
    .card-img-container {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
        img {
            transition: transform 0.3s ease-in-out;
        }
        .pizza-type {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 25px;
            height: 25px;
            border: 2px solid $veg-color;
            background-color: $overlay-color;
            z-index: 5;
            @include flex-center();
            &::after {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                background-color: $veg-color;
                border-radius: 50%;
            }
        }
        .veg {
            border: 2px solid $veg-color;
            &::after {
                background-color: $veg-color;
            }
        }
        .non-veg {
            border: 2px solid $non-veg-color;
            &::after {
                background-color: $non-veg-color;
            }
        }
    }
    &:hover .card-img-container img {
        transform: scale(1.1);
    }
}

// making utility classes
.mt-sect {
    margin-top: 15rem !important;
    @media screen and (max-width: 499px) {
        margin-top: 5rem !important;
    }
}

// making some custom components
h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    @media screen and (max-width: 499px) {
        font-size: 2rem;
    }
}

.text-brand {
    color: $primary-color !important;
}

.button {
    appearance: button;
    -webkit-appearance: button;
    -moz-appearance: button;
    background-color: transparent;
    position: relative;
    z-index: 50;
    padding: 0.75rem 0.85rem;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
}

.button-primary {
    border: 2px solid $primary-color;
    color: #fff;
    &:hover {
        color: $text-color;
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary-color;
        z-index: -1;
        transition: all 0.3s ease-in-out;
        transition-property: color transform;
        transform: scaleX(1);
        transform-origin: right;
    }
    &:hover::after {
        transform: scaleX(0);
    }
}

.button-secondary {
    border: 2px solid $text-color;
    background-color: $overlay-color;
    box-shadow: 0.5rem 0.5rem;
    transition: all 0.3s ease-in-out;
    transition-property: box-shadow, background-color;
    color: $text-color;
    &:hover {
        background-color: $text-color;
        color: $bg-color;
        box-shadow: 0.5rem 0.5rem;
    }
}

.fancy-link {
    color: $primary-color;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    &:hover {
        color: $primary-color;
    }
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $primary-color;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
        transform-origin: left;
    }
    &:hover::after {
        transform: scaleX(1);
    }
}

// navbar styles
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 2rem 0 !important;
    transition: background-color 0.3s ease-in-out, padding 0.5s ease-in-out;
    li.nav-item {
        margin-left: 1.5rem;
        @media screen and (max-width: 499px) {
            margin-left: unset;
        }
    }
}

.navbar.active {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    padding: .85rem 0 !important;
    background-color: $overlay-color !important;
}

// styling footer
footer {
    background-color: $text-color;
    color: $overlay-color;
    padding: 5rem 0;
    margin-top: 25rem;
    @media screen and (max-width: 499px) {
        margin-top: 10rem;
    }
    a.fancy-link {
        color: $overlay-color !important;
        &:hover {
            color: $overlay-color !important;
        }
        &::after {
            background-color: $overlay-color !important;
        }
    }
}